# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Build folders
build/
doc/
include/
lib/

# Build files
/DoxyAPI
/Makefile
/src/scclust_types.h

# Local miscellaneous
localmisc/

# Test files
tests/ann_1.1.2/
tests/scc_build/
tests/ann_1.1.2.zip
tests/tmp_output_results

# Example files
examples/ann/ann_1.1.2/
examples/ann/ann_1.1.2.zip
